body{
    display: grid;
    grid-template-areas:
    "header header header header header"
    "thing action adjective noun place"
    "output output output output output";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #faf0d9;
  text-align: center;
  padding: 5px;
}
body>header{
    grid-area: header;
    text-align: center;
}
body>div{
    border:2px #970000 solid;
}

.thing{
    grid-area: thing;
}
.action{
    grid-area: action;
}
.adjective{
    grid-area: adjective;
}
.noun{
    grid-area: noun;
}
.place{
    grid-area: place;
}