body{
    display: grid;
    grid-template-areas:
    "header header header header header"
    "thing action adjective noun place"
    "output output output output output";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #e4edf1;
  text-align: center;
  padding: 5px;
}
body>header{
    grid-area: header;
    text-align: center;
}
body>div{
    border:2px #970000 solid;
}

#thing{
    grid-area: thing;
    background-color: #f1d9fa;
}
#action{
    grid-area: action;
    background-color: #d9d9fa;
}
#adjective{
    grid-area: adjective;
    background-color: #d9fadc;
}
#noun{
    grid-area: noun;
    background-color: #fad9d9;
}
#place{
    grid-area: place;
    background-color: #fad9ec;
}